.container{
    text-align: center;
    margin-left: auto;
}
.find {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.find-text {
    margin-right: 40px;
    font-style: italic;
}

