.container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label {
  font-style: italic;

}

.input {
  margin: 10px;
  text-align:center;
}

.btn {
  display: inline-flex;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: #e2e5e8;
  color: inherit;
}

.btn:hover {
  background-color: #1976d2;
  color: #fff;
}

@media (max-width: 900px) {
  .form {
  display: block;
}

}

@media (max-width: 800px) {
  .form, .label, .input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

